{% import "_macros.j2" as m %}
{% call m.stage(s) %}
<div class="bignumwrap"><p class="bignum">{{ s.number }}</p>{% if s.caption %}<p class="bigcap">{{ s.caption }}</p>{% endif %}</div>
{% endcall %}
