<div class="stage cov"><div class="covtop"><h1 class="covt">{{ title }}</h1></div><div class="covmeta"><p class="covc">{{ cls }}</p><p class="cova">{{ author_label }} {{ author }}<br>{{ modified_label }} {{ date }}</p></div><div class="covlogo">{{ logo }}</div></div>
