{% import "_macros.j2" as m %}
{% call m.stage(section, title) %}
{% if points %}
<div class="leadpoints"><p class="big2">{{ big }}</p><div class="fpoints">
{% for p in points %}<div class="fpoint">{{ p }}</div>{% endfor %}
</div></div>
{% elif big %}<p class="big2">{{ big }}</p>{% endif %}
{% endcall %}
