{% import "_macros.j2" as m %}
{% set p = s.point or s.callout or {} %}
{% call m.stage(s) %}
<div class="callout {{ s.tone or ('blue' if s.template == 'callout' else 'pink') }}">{{ icon(p.icon) }}<p><b>{{ p.label }}</b> {{ p.body }}</p></div>
{% endcall %}
